pkgbase = rusticprofile
	pkgdesc = A local, per-machine scheduler and orchestrator for rustic backups
	pkgver = 0.1.21
	pkgrel = 1
	url = https://github.com/l1a/rusticprofile
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = rustic
	source = rusticprofile-0.1.21.tar.gz::https://github.com/l1a/rusticprofile/archive/refs/tags/v0.1.21.tar.gz
	sha256sums = 19c62ab8f7866ac1fefbd64072d1b42acf195eeb7cecb400561075a8edadd50c

pkgname = rusticprofile
